html{
    background-color: #ffb228;
    background: linear-gradient(180deg, #fec33b, #ffdd58,  #fec33b);
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

a {
    color: darkolivegreen;
    font-weight: bold;
}

#submit {
    border: 1px solid darkolivegreen;
}

/* test burger hiding the logo, moving logo to the right */
#nav-bar{
    padding-left: 30px;
}

/* Removing the padding from above fix so menu shows across entire display */
#navbarBasicExample {
    margin-left: -30px;
}

#logo-name {
    padding-right: 20px;
}

#hero-container{
    text-align: center;
}

/* Giant Banana! */
#hero-img{
    width: 30%;
    margin: 30px auto;
    animation: swing 4s ease-in-out infinite;
}

#hero-img:hover {
    content: url('../assets/images/bananaHappy.png')
}

/* make the banana rock back and forth */
@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

/* if screen is smaller than 425px, set width of image and form to these */
@media (max-width: 425px){
    #hero-img{
        width: 50%;
    }
    #form{
        width: 80%;
        margin: 20px auto;
    }
}

/* if screen is larger than 426, set width and margin of hero image */
@media (min-width: 426px){
    #hero-img{
        width: 30%;
        margin: 30px auto;
    }
}

.products{
    text-align: center;
    height: auto;
    padding: 40px;
}

.product-image {
    transition: 1s;
}

.product-image:hover {
    transition: 1s;
    transform: scale(1.04, 1.04);
    box-shadow: -8px -6px 11px 1px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

.product-link {
    margin-top: 10px;
}

.description {
    margin: 5px 0 20px;
}
@media (max-width: 768px) {
    .description {
        font-size: 33px;
    }
    .product-link {
        font-size: 30px;

    }
}

#video{
    margin: 20px auto;
    padding: 20px 100px 40px 100px;
}

#image {
    padding: 0 40%;
}

#form{
    width: 50%;
    margin: 0 auto;
}

#footer{
    padding: 20px;
    background-color: #ffdd58;
}
